body {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 15px 15px;
    background-color: #1A1A1A;
    color: #F4F4F4;
    border: 2px solid #F4F4F4;
    cursor: pointer;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #F4F4F4;
    color: #1A1A1A;
}

h1 {
    color: #F4F4F4;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    background-color: #1A1A1A;
    padding: 15px 15px;
    margin: 0;
    border-radius: 5px;
    border: 2px solid #F4F4F4;
}

.note {
    position: absolute;
    background-color: #F4F4F4 !important; /* Ensure background color stays white */
    min-width: 200px;
    max-width: 300px;
    min-height: 50px;
    padding: 10px;
    font-size: 15px;
    cursor: move;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.note .header {
    display: flex;
    justify-content: space-between;
}

.note .delete {
    cursor: pointer;
    font-size: 12px;
    color: #1a1a1a;
    font-weight: bold;
    margin-right: 5px;
    transition: color 0.3s ease;
}

.note .delete:hover {
    color: #000000;
}

.container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container-buttons button {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 15px 15px;
    background-color: #1A1A1A;
    color: #F4F4F4;
    border: 2px solid #F4F4F4;
    cursor: pointer;
    margin: 0;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 50px;
}

.container-buttons button:hover {
    background-color: #F4F4F4;
    color: #1A1A1A;
}

.note .delete {
    cursor: pointer;
    font-size: 12px;
    color: #1a1a1a;
    font-weight: 1px;
    margin-left: auto;
    margin-top: 0px;
    background-color: transparent;
    border: none;
    padding: 0;
    float: right;
}

.color-picker {
    width: 10px;
    height: 10px;
    border: 2px solid #1a1a1a;
    border-radius: 50%;
    padding: 0;
    appearance: none;
    cursor: pointer;
    outline: none;
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure images are behind the content */
}

/* CSS for image positioning */
.image {
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid #F4F4F4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    filter: brightness(0.4);
}

.image:hover {
    transform: scale(1.1);
}

/* Spread out images */
#image1 {
    width: 200px;
    height: 200px;
    top: 5%;
    left: 5%;
    transform: rotate(-10deg);
    background-image: url('../assets/1.jpg');
}

#image2 {
    width: 200px;
    height: 150px;
    top: 5%;
    left: 23%;
    transform: rotate(12deg);
    background-image: url('../assets/2.jpg');
}

#image3 {
    width: 250px;
    height: 250px;
    top: 5%;
    left: 40%;
    transform: rotate(-8deg);
    background-image: url('../assets/3.jpg');
}

#image4 {
    width: 200px;
    height: 200px;
    top: 5%;
    left: 60%;
    transform: rotate(5deg);
    background-image: url('../assets/4.jpg');
}

#image5 {
    width: 150px;
    height: 200px;
    top: 40%;
    left: 10%;
    transform: rotate(12deg);
    background-image: url('../assets/5.jpg');
}

#image6 {
    width: 250px;
    height: 250px;
    top: 50%;
    left: 60%;
    transform: rotate(8deg);
    background-image: url('../assets/6.jpg');
}

#image7 {
    width: 200px;
    height: 200px;
    top: 45%;
    left: 25%;
    transform: rotate(-7deg);
    background-image: url('../assets/7.jpg');
}

#image8 {
    width: 200px;
    height: 150px;
    top: 55%;
    left: 40%;
    transform: rotate(15deg);
    background-image: url('../assets/8.jpg');
}

#image9 {
    width: 250px;
    height: 250px;
    top: 75%;
    left: 25%;
    transform: rotate(-5deg);
    background-image: url('../assets/9.jpg');
}

#image10 {
    width: 200px;
    height: 200px;
    top: 70%;
    left: 80%;
    transform: rotate(10deg);
    background-image: url('../assets/10.jpg');
}

#image11 {
    width: 150px;
    height: 150px;
    top: 5%;
    left: 80%;
    transform: rotate(-15deg);
    background-image: url('../assets/11.jpg');
}

#image12 {
    width: 275px;
    height: 200px;
    top: 30%;
    left: 70%;
    transform: rotate(7deg);
    background-image: url('../assets/12.jpg');
}

#image13 {
    width: 200px;
    height: 200px;
    top: 25%;
    left: 20%;
    transform: rotate(-10deg);
    background-image: url('../assets/13.jpg');
}

#image14 {
    width: 150px;
    height: 200px;
    top: 65%;
    left: 5%;
    transform: rotate(-12deg);
    background-image: url('../assets/14.jpg');
}

#image15 {
    width: 250px;
    height: 200px;
    top: 70%;
    left: 50%;
    transform: rotate(-8deg);
    background-image: url('../assets/15.jpg');
}
